<div class="container my-5">

	<div class="row">
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body shadow h-100 d-flex justify-content-center">
				<p class="fs-4 m-0">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ex in iste nesciunt obcaecati omnis
					rerum totam ut. Alias deserunt fugit inventore molestias mollitia perspiciatis quasi sint tenetur
					ullam voluptates!
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img alt="img" class="object-fit-cover w-100 rounded shadow" src="/img/hero/1.jpg">
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img alt="img" class="object-fit-cover w-100 rounded shadow" src="/img/hero/2.jpg">
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body shadow h-100 d-flex justify-content-center">
				<p class="fs-4 m-0">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ex in iste nesciunt obcaecati omnis
					rerum totam ut. Alias deserunt fugit inventore molestias mollitia perspiciatis quasi sint tenetur
					ullam voluptates!
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body shadow h-100 d-flex justify-content-center">
				<p class="fs-4 m-0">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ex in iste nesciunt obcaecati omnis
					rerum totam ut. Alias deserunt fugit inventore molestias mollitia perspiciatis quasi sint tenetur
					ullam voluptates!
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<img alt="img" class="object-fit-cover w-100 rounded shadow" src="/img/hero/3.jpg">
		</div>
	</div>

</div>

<div class="container my-5">

	<div class="row">
		<div class="col-12 col-lg mb-4" data-aos="zoom-in">
			<div class="card card-body shadow h-100">
				<div class="d-flex justify-content-center mb-2">
					<img alt="img" class="w-50" src="/img/about/1.png">
				</div>
				<p class="fs-4 m-0">
					Более 5000 пройденных модулей
				</p>
			</div>
		</div>
		<div class="col-12 col-lg mb-4" data-aos="zoom-in">
			<div class="card card-body shadow h-100">
				<div class="d-flex justify-content-center mb-2">
					<img alt="img" class="w-50" src="/img/about/2.png">
				</div>
				<p class="fs-4 m-0">
					Более 700 сотрудников прошли обучение
				</p>
			</div>
		</div>
		<div class="col-12 col-lg mb-4" data-aos="zoom-in">
			<div class="card card-body shadow h-100">
				<div class="d-flex justify-content-center mb-2">
					<img alt="img" class="w-50" src="/img/about/3.png">
				</div>
				<p class="fs-4 m-0">
					Более 50 курсов по разным направлениям
				</p>
			</div>
		</div>
	</div>


	<!--		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75252.68666033309!2d27.510968627109335!3d53.88471296974388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1724993567955!5m2!1sru!2sby"-->
	<!--	<iframe-->
	<!--		src="https://yandex.by/maps/minsk/"-->
	<!--		allowfullscreen frameborder="0" loading="lazy" height="500" class="w-100 rounded shadow"-->
	<!--		data-aos="zoom-in"></iframe>-->

</div>
