/* You can add global styles to this file, and also import other style files */
.login-card {
	background-color: #ffffff;
	padding: 2rem;
	border-top: 4px solid #256038; /* только верхняя зелёная граница */
	width: 100%;
	max-width: 400px;
	border-radius: 0.5rem 0.5rem 0 0; /* скругление только сверху */
}

