<form (ngSubmit)="update()" [formGroup]="questionFormGroup" class="d-flex align-items-center gap-2">
	<!-- Поле ввода вопроса растягивается -->
	<input
		class="form-control flex-grow-1"
		formControlName="name"
		maxlength="255"
		minlength="1"
		placeholder="Вопрос"
		type="text"
	>

	<!-- Кнопки рядом друг с другом -->
	<div class="d-flex gap-1">
		<button
			[disabled]="questionFormGroup.invalid"
			class="btn btn-success"
			type="submit"
		>
			Обновить
		</button>
		<button
			type="button"
			class="btn btn-danger"
			(click)="questionDelete()"
		>
			Удалить
		</button>
	</div>
</form>



<hr>

<div class="card card-body p-3 shadow" data-aos="zoom-in">
	<form (ngSubmit)="answerSave()" [formGroup]="answerFormGroup" class="row">
		<div class="col-12 col-lg my-1">
			<input class="form-control" formControlName="name" maxlength="255" minlength="1" placeholder="Ответ"
				   type="text">
		</div>
		<div class="col-12 col-lg my-1">
			<input class="form-control" formControlName="score" max="10" min="1" placeholder="Балл" step="1"
				   type="number">
		</div>
		<div class="col-12 col-lg-auto my-1">
			<button [disabled]="answerFormGroup.invalid" class="btn btn-success w-100" type="submit">Добавить
			</button>
		</div>
	</form>
</div>

@for (i of answers; track i.id) {
	<div class="card card-body p-3 mt-4 shadow" data-aos="zoom-in">
		<div class="d-flex align-items-center gap-2">
			<!-- Карточка ответа -->
			<app-testing-question-answer-card [answer]="i" class="flex-grow-1"></app-testing-question-answer-card>

			<!-- Кнопка удалить -->
			<button type="button" class="btn btn-danger" (click)="answerDelete(i.id)">
				Удалить
			</button>
		</div>
	</div>
}


