<div class="container-fluid py-5">
	<h1 class="text-center" data-aos="zoom-in" style="color: #256038;">Матрицы компетенций</h1>
</div>

<!-- Выбор отделения -->
<div *ngIf="role === 'ADMIN' || role === 'HR'" class="container-fluid mb-3" style="max-width: 1200px;">
	<div class="bg-white p-3 shadow-sm rounded" data-aos="zoom-in">
		<select (change)="changeDepartmentId($event)" class="form-select w-100">
			<option disabled selected>Выберите отделение</option>
			@for (i of departments; track i.id) {
				<option [value]="i.id" [label]="i.name"></option>
			}
		</select>
	</div>
</div>

<!-- Таблица -->
<div class="container-fluid bg-white p-3 rounded shadow-sm" style="max-width: 1200px; overflow-x: auto;">

	<div class="row fs-6 fw-bold g-0" data-aos="zoom-in">
		<div class="col p-1 border border-dark d-flex align-items-center justify-content-center">Должность</div>
		<div class="col p-1 border border-dark d-flex align-items-center justify-content-center">ФИО</div>
		<div class="col p-1 border border-dark d-flex align-items-center justify-content-center">Грейд</div>

		@for (i of competences; track i.id) {
			<div class="col-1 p-1 border border-dark d-flex align-items-center justify-content-center">
				<p class="m-0" style="writing-mode: vertical-rl; transform: rotate(180deg);">
					{{ i.name }}
				</p>
			</div>
		}

		<div class="col-1 p-1 border border-dark text-center d-flex align-items-center justify-content-center">
			<p class="m-0" style="writing-mode: vertical-rl; transform: rotate(180deg);">
				Уровень <br> компетенции <br> сотрудника
			</p>
		</div>
	</div>

	@for (i of employeesSorted; track i.id) {
		<app-matrix-card [employee]="i" [competences]="competences"></app-matrix-card>
	}
</div>
